[Server]
retryCount = 5
# http or grpc
# gRPC will be implemented later...
mode = "http"
# only take effect in gRPC mode. If client is using standby server,
# will try main server every failBackInterval
# failBackInterval = "10m"

[Http.MainServer]
serverUrl = "https://acmeserver.lanlanlu.com:19198/1145141919810"
token = "KFCCrazyThursdayVMe50"

[Http.StandbyServer]
serverUrl = "http://mybackupserver.local:11451/1919810"

# [GRPC.MainServer]
# secure = true
# server = "grpc.lanlanlu.com:9999"
# token = "grpcisawsome"
#
# [GRPC.StandbyServer]
# secure = false
# server = "192.168.1.2:9090"

[[Certifications]]
name = "certFileNameToSave"
savePath = "/path/to/directory/which/saves/your/certifications"
# will save cert and key file at savePath/name.pem and savePath/name.key
domains = [
    "*.lanlanlu.com",
    "*.mm.lanlanlu.com",
]
# command to reload your services
# reloadCommand = "systemctl reload nginx"
reloadCommand = "bash /opt/acme/reload.sh"

[[Certifications]]
name = "cert2"
savePath = "/path/to/directory/which/saves/your/certifications"
domains = [
    "*.lulu.com",
    "*.mm.lulu.com",
]
reloadCommand = "bash /opt/acme/reload.sh"
