[ACME]
# Email of ACME account registeration
email = ""
# Supported provider: google googletest r3 r3test
provider = "google"
retryCount = 5

# Certification will have a life time of certLifeTime + renewTimeLeft
# If certLifeTime is passed, server will renew this certification
# Server and client will check certification every renewTimeLeft/4
certLifeTime = "168h"
renewTimeLeft = "24h"

# Give root domain here
allowedDomains = [
    "lanlanlu.com",
]

[DnsProvider]
type = "cloudflare"
disableCompletePropagationRequirement = false
# global api key and email
email = ""
apiKey = ""
# or you can use tencent cloud
# type = "tencent"
# secretID = ""
# SecretKey = ""

[HttpServer]
enabled = true
listen = ":19198"
apiPath = "/1145141919810"
secure = true
# Domain of this server, server will issue a certification for itself
# for https api. Make sure your acme server can issue this domain.
names = ["acmserver.lanlanlu.com", "*.lanlanlu.com"]
# left empty for no token
token = "KFCCrazyThursdayVMe50"

[gRPCSDSServer]
enabled = true
listen = ":11451"
names = ["grpcserver.lanlanlu.com"]
