[ACME]
# Email of ACME account registeration
email = ""
provider = "r3"

# Give root domain here
allowedDomains = [
    "example.com",
]

[DnsProvider]
# cloudflare auth token and zone token
type = "cloudflare"
authToken = "XOoC9QinSF_LRBQwmAfKPKbqZyKeZH2vyOLZUKVw"
zoneToken = "XOoC9QinSF_LRBQwmAfKPKbqZyKeZH2vyOLZUKVw"

[HttpServer]
enabled = true
listen = ":19198"
apiPath = "/1145141919810"
secure = true
# Domain of this server, server will issue a certification for itself
# for https api. Make sure your acme server can issue this domain.
names = ["certdxserver.example.com", "*.example.com"]
# left empty for no token
token = "KFCCrazyThursdayVMe50"
