[Unit]
Description=Certdx client
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/certdx
ExecStart=/opt/certdx/certdx_client --conf /opt/certdx/config/client_config.toml --log /tmp/certdx-client.log
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
